:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin-top: 20px;
  width: 600px;
  height: 600px;
  display: grid;
  border: 4px solid skyblue;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;
}

.f {
  color: rgb(0, 0, 0, 0.1);
}

.container {
  width: 600px; margin: 0 auto;
}

h1, h2 {
  text-align: center;
  color: rgb(64, 81, 180);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
 }
  
button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
